<section  class="bg-zinc-900 p-20 rounded-xl my-4">

    <h2 class="text-3xl font-bold mb-4">About Us</h2>
    <p class="text-lg mb-6">
        We are a team of passionate developers dedicated to creating innovative solutions for the web. Our mission is to build high-quality, user-friendly applications that make a difference in people's lives.
    </p>

</section>