<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left items-center justify-between rounded-2xl">
   <div>
     <h1 class="text-5xl font-bold  pb-2 text-white">Welcome to Montero Maintenance</h1>
    <p class="my-4 text-2xl">Your trusted partner for all your maintenance needs. We provide top-notch services to keep your home and business running smoothly.
    
    </p>

    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">
        <a href="/contact">Contact Us</a>
    </button>
   </div>
    <img src="images/logoMontero.jpeg" alt="Montero Maintenance" class="w-80" />
</header>