---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="About us ">
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur possimus vel, reprehenderit nostrum minima sequi labore quis quibusdam dolorum, recusandae aliquid cumque unde adipisci natus? Dolore in suscipit enim incidunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio maiores ullam, id in autem cupiditate repudiandae quos excepturi dolores perferendis earum possimus exercitationem velit optio obcaecati reiciendis architecto. Repellat quaerat eius, iure inventore ipsam, molestias beatae cumque alias qui ab reprehenderit autem iste at totam quas corrupti labore tenetur id enim ipsa asperiores nisi consequatur quia est. Quaerat, dolore inventore? Voluptatem, alias porro. Voluptatum obcaecati nam aliquid unde cum fugit porro commodi architecto nobis ipsa magnam, itaque nisi laborum, maiores vero. Eius maxime quasi, illum quibusdam voluptatibus accusamus, vitae, amet dicta perferendis rerum voluptates quidem cupiditate? Unde laudantium perspiciatis laboriosam.

    </p>
</Layout>