<footer class="bg-gray-800 text-white py-8 px-4 flex flex-col md:flex-row justify-between">
   <div class="container mx-auto flex flex-col md:flex-row justify-between text-center md:text-left gap-4">
     <div>
        <h4 class="font-bold text-xl">site map</h4>
        <a href="/">home</a>
        <a href="/about">about</a>  
        <a href="/contact">contact</a>
    </div>
    <div>
        <h4 class="font-bold text-xl">social media</h4>
        <a href="https://www.facebook.com/yourpage">facebook</a>
        <a href="https://www.twitter.com/yourprofile">twitter</a>
        <a href="https://www.instagram.com/yourprofile">instagram</a>
    </div>
    <div>
        <h4 class="font-bold text-xl">legal</h4>
        <a href="/privacy">privacy policy</a>
        <a href="/terms">terms of service</a>   
        <a href="/cookies">cookie policy</a>
    </div>
   </div>
</footer>